.container{
  width: 80%;
  margin: auto;
}

.header{
  width: 100%;
  background-color: var(--slate-700);
  box-sizing: border-box;
  padding: 10px 7px;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2.5rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.logo{
  color: var(--slate-300);
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

.logo .icon {
  color: var(--rose-500);
  font-size: 1.2rem;
  margin-left: 5px;
}

.search-input{
  color: var(--slate-900) !important;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: var(--slate-500);
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
  height: 100%;
}

.header span{
  color: var(--slate-500);
}

.heart{
  position: relative;
}

.heart .icon{
  color: var(--rose-500);
  font-size: 1.1rem;
}

.favirate-number{
  width: .9rem;
  height: .9rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--rose-500);
  color: #fff !important;
  font-size: .75rem;
  position: absolute;
  top: -5px;
  right: -5px;
}